body{
    background-color: orange;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; 
    align-content: center; 
}

/*---.FOTOS DE LOS VEGETALES---*/

/*----SEPARAR LAS FOTOS EN DOS FILAS----*/
.grupo{
    display: flex;
    
    justify-content: space-around;
}

.contenido__uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
/*----TITULOS DE LOS VEGETALES CON SUS PRECIOS---*/
.contenido__uno h1{
    font-family: 'Anton', sans-serif;
    color: rgb(1, 34, 48);
}

.contenido__uno h5{
    font-family: 'Bebas Neue', cursive;
    color: darkgreen;
}

@media (max-width: 784px){
    body{
        background-color: orchid;
    }
    .contenido{
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; 
    align-content: center; 
    }
    .grupo{
        display: flex;
        flex-direction: column;
    }
    .contenido__uno h1{
        text-align: center;
        
    }
}