*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.caja{
    background-color: orange;
    
    height: 20rem;
    

    margin: 1rem;
    
}

.caja2{
    background-color: yellow;
    height: 20rem;
    
    box-sizing: border-box;

    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*--CONTACTO */

.nombre{
    color: black;
    text-transform: capitalize;
}
.contacto__formulario{
    
}
.contacto__titulo{
    margin-top: 3rem;
    font-family: 'Anton', sans-serif;
    color: rgb(1, 34, 48);
    text-align: center;
}

.contacto__formulario p{
    
        font-style: italic;
        font-size:1rem;
        text-align: center;
    
}

.div{
    text-align: center;
}

